@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 156.2 3% 95%;
    --foreground: 156.2 3% 10%;
    --card: 156.2 3% 90%;
    --card-foreground: 156.2 3% 15%;
    --popover: 156.2 3% 95%;
    --popover-foreground: 156.2 95% 10%;
    --primary: 156.2 71.6% 66.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 156.2 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 118.19999999999999 10% 85%;
    --muted-foreground: 156.2 3% 40%;
    --accent: 118.19999999999999 10% 80%;
    --accent-foreground: 156.2 3% 15%;
    --destructive: 0 50% 42%;
    --destructive-foreground: 156.2 3% 90%;
    --border: 156.2 20% 50%;
    --input: 156.2 20% 42%;
    --ring: 156.2 71.6% 66.9%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 156.2 10% 10%;
    --foreground: 156.2 3% 90%;
    --card: 156.2 3% 10%;
    --card-foreground: 156.2 3% 90%;
    --popover: 156.2 10% 5%;
    --popover-foreground: 156.2 3% 90%;
    --primary: 156.2 71.6% 66.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 156.2 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 118.19999999999999 10% 25%;
    --muted-foreground: 156.2 3% 60%;
    --accent: 118.19999999999999 10% 25%;
    --accent-foreground: 156.2 3% 90%;
    --destructive: 0 50% 42%;
    --destructive-foreground: 156.2 3% 90%;
    --border: 156.2 20% 42%;
    --input: 156.2 20% 42%;
    --ring: 156.2 71.6% 66.9%;
    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
